# Convolution Layer

1. 필터셋은 3차원 형태로 된 가중치의 모음. 컨볼루션 구조에서 컴퓨터가 학습하는 건 필터이다.
2. 필터셋 하나는 앞선 레이어의 결과인 '특징 맵' 전체를 본다. 전체를 보고 필터셋 하나가 특징 맵 하나를 만든다.
3. 필터셋 하나가 특징 맵 하나를 만들기 때문에, 필터셋 개수만큼 특징 맵을 만든다. (입력에 곱해진다.)   

각 필터의 사이즈는 한번에 거르는 정도. 기본적으로 정사각형 모양이다.

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
# 데이터를 준비하고
(input, target), _ = tf.keras.datasets.mnist.load_data()
print(input.shape, target.shape)

# 2차원이 아니라 3차원이어야 하므로 reshape로 변경
input = input.reshape(60000, 28, 28, 1)
target = pd.get_dummies(target)
print(input.shape, target.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [3]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)     # 컨볼루션 레이어 1 추가: 필터셋의 개수 = 3
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)     # 컨볼루션 레이어 2 추가: 필터셋의 개수 = 6
H = tf.keras.layers.Flatten()(H)                                        # flatten은 밀집층과 연결되어 있어야 한다. 필터로 걸러내고 난 후 통과.
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d (Conv2D)             (None, 24, 24, 3)         78

 conv2d_1 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [5]:
# 모델을 학습하고
model.fit(input, target, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.2931 - accuracy: 0.9361
Epoch 2/10
1875/1875 [==============================] - 15s 8ms/step - loss: 0.0737 - accuracy: 0.9798
Epoch 3/10
1875/1875 [==============================] - 16s 8ms/step - loss: 0.0477 - accuracy: 0.9867
Epoch 4/10
1875/1875 [==============================] - 16s 9ms/step - loss: 0.0333 - accuracy: 0.9905
Epoch 5/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0250 - accuracy: 0.9924
Epoch 6/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0187 - accuracy: 0.9945
Epoch 7/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0166 - accuracy: 0.9950
Epoch 8/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0143 - accuracy: 0.9959
Epoch 9/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0162 - accuracy: 0.9955
Epoch 10/10
1875/1875 [==============================] - 17s 9ms/step - loss: 0.0129 - accuracy: 0.9965

In [6]:
# 모델을 이용합니다. 
pred = model.predict(input[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 98ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [7]:
# 정답 확인
target[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d (Conv2D)             (None, 24, 24, 3)         78

 conv2d_1 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________