# 히든 레이어
히든 레이어가 없다면 입력층의 모든 입력에 가중치를 붙여서 바로 결과값을 판단.   
히든 레이어(= 중간층)를 통해서 입력값에 가중치를 붙여 중간 단계의 결과값을 도출하고,   
그 결과값을 입력으로 하여 마지막 층에서 결과값을 도출한다.

# Flatten Layer를 활용한 이미지 학습

In [1]:
import tensorflow as tf
import pandas as pd

## with reshape

In [15]:
# 데이터를 준비하고
(input, target), _ = tf.keras.datasets.mnist.load_data()
print(input.shape, target.shape)

input = input.reshape(60000, 28*28)     # 위에서 확인한 input.shape를 바탕으로(28*28) 1차원 reshape
target = pd.get_dummies(target)         # target 데이터를 원핫인코딩
print(input.shape, target.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [16]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)    # 히든 레이어
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [17]:
# 모델을 학습하고
model.fit(input, target, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 2.3590 - accuracy: 0.8557
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5276 - accuracy: 0.9153
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4599 - accuracy: 0.9301
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4178 - accuracy: 0.9357
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3849 - accuracy: 0.9406
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3611 - accuracy: 0.9444
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3391 - accuracy: 0.9477
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3342 - accuracy: 0.9494
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3216 - accuracy: 0.9499
Epoch 10/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3085 - accuracy: 0.9519

In [5]:
# 모델을 이용합니다. 
pred = model.predict(input[0:5])    # 입력데이터 초반 5개 확인
pd.DataFrame(pred).round(2)         # 데이터 프레임으로 나타내기

1/1 [==============================] - 0s 97ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
target[0:5]             # 정답이랑 맞는지 비교

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## with flatten
reshape를 사용하지 않고 Flatten 층을 사용하여 모델 만들기.

In [18]:
# 데이터를 준비하고
(input, target), _ = tf.keras.datasets.mnist.load_data()
print(input.shape, target.shape)

# input = input.reshape(60000, 784) # 더이상 필요하지 않음
target = pd.get_dummies(target)
print(input.shape, target.shape)    # target 데이터만 원핫인코딩 된 것을 확인

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [19]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28])                   # 입력된 shape 정보 넣어주고
H = tf.keras.layers.Flatten()(X)                            # 실제로 펼쳐주는 Flatten 층
H = tf.keras.layers.Dense(84, activation='swish')(H)        # 히든 레이어
Y = tf.keras.layers.Dense(10, activation='softmax')(H)      # 출력층
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [20]:
# 모델을 학습하고
model.fit(input, target, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 3s 2ms/step - loss: 2.3712 - accuracy: 0.8500
Epoch 2/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5505 - accuracy: 0.9147
Epoch 3/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4441 - accuracy: 0.9298
Epoch 4/5
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4005 - accuracy: 0.9370
Epoch 5/5
1875/1875 [==============================] - 3s 1ms/step - loss: 0.3802 - accuracy: 0.9436

In [21]:
# 모델을 이용합니다. 
pred = model.predict(input[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 52ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [22]:
target[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1